<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<listeners>
<listener class-name="Practise.Itestlistener"/>
</listeners>
  <test  name="Test1">
    <classes>
      <class name="Practise.TestClass">
      <methods>
      <include name="TestGoogle"/>
      </methods>
      </class>
    </classes>
  </test> 
  
  <test  name="Test2">
    <classes>
      <class name="Practise.TestClass">
      <methods>
      <include name="Facebook"/>
      </methods>
      </class>
    </classes>
  </test> 
  <test  name="Test3">
    <classes>
      <class name="Practise.TestClass">
      <methods>
      <include name="TestOrangeHRM"/>
      </methods>
      </class>
    </classes>
  </test> 
</suite>
